.table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  table-layout: fixed; /* Para que las columnas tengan anchos fijos */
  width: 100%;
}

.titulos-tabla {
  background-color: #3968C6;
  color: white;
}

.subtitulos-tabla {
  background-color: #BEDBFE;
  color: black;
}

.tabladatos {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#tituloTablaColumna {
  width: 300px;
}

#contenidoFila {
  width: 200px;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.fuente{
  font-family: Arial, Helvetica, sans-serif !important;
}

ul, li{
  background-color: #2E3E97;
  color: white;
}

.dropdown-item:hover{
  background-color: #2E3E97;
  color: white;
}

ul:hover{
  background-color: #2E3E97;
  color: white;
}

.colorLabel{
  color: white;
}

.btnMasInformacion{
  background-color: #00a94f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.color-icon{
  color: #2E3E97;
}

.textoToast{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.descargar{
  background-color: #3081b9;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}

.descargar:hover{
  background-color: #3081b9;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}

.fuenteletra{
  font-family: Arial, Helvetica, sans-serif;
}

.colorletra{
  color:#000000 !important;
}

.btn-close {
  color: white !important;
  font-size: 1.5rem !important;
  opacity: 1 !important;
}

