  <div class="bubble-container" [ngStyle]="{'width.px': ancho, 'height.px': alto}">
    <div *ngFor="let bubble of burbujasExistentes"
         class="bubble"
         [style.width.px]="bubble.r * 2"
         [style.height.px]="bubble.r * 2"
         [style.left.px]="bubble.x"
         [style.top.px]="bubble.y"
         [style.background-color]="bubble.fillColor"
         (mouseover)="showTooltip($event, bubble)"  
         (mouseout)="hideTooltip()"
         (click)="redireccionar(datosBurbujas[0].idMbe,datosBurbujas[0].idFila,datosBurbujas[0].idColumna,bubble.idGpo)"
         >
    </div>
  
    <!-- Tooltip personalizado -->
    <div *ngIf="tooltipVisible" class="tooltip2 text-center align-middle" [ngStyle]="tooltipStyles">
      <div class="tooltip-color" [style.background-color]="tooltipData.fillColor"></div> <!-- Cuadro de color -->
      <span class="textoTooltip m-auto">{{ tooltipData.nombreGpo }} {{tooltipData.count}}</span> <!-- Nombre de la burbuja -->
    </div>
  </div>
  