.custom-accordion-button {
  background-color: #2B3172; /* Color de fondo predeterminado */
  color: white; /* Color del texto */
  border: none;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  --bs-btn-active-bg: #2B3172;
  --bs-btn-active-color: white;
}

.custom-accordion-button:not(.collapsed) {
  background-color: #2B3172; /* Nuevo color de fondo cuando el acordeón está abierto */
  color: white; /* Se mantiene el color del texto */
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  --bs-btn-active-bg: #2B3172;
  --bs-btn-active-color: white;
}

.custom-accordion-button:hover {
  background-color: #2B3172; /* Color de fondo al pasar el ratón por encima */
  color: white; /* Color del texto al pasar el ratón por encima */
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  --bs-btn-active-bg: #2B3172;
  --bs-btn-active-color: white;
}

.custom-accordion-button::after {
  content: ''; /* Asegúrate de que el pseudo-elemento tenga contenido */
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-right: 0.15em solid white; /* Color de la flecha */
  border-bottom: 0.15em solid white; /* Color de la flecha */
  transition: transform 0.2s; /* Animación de rotación */
  transform: rotate(-135deg); /* Rotar la flecha hacia arriba */
}

//cuando aria-expanded es true (cuando el acordeón está abierto), la flecha se rota 90 grados
.custom-accordion-button[aria-expanded='true']::after {
  transform: rotate(45deg);
  border-right-color: white; /* Asegúrate de que el color sea consistente */
  border-bottom-color: white; /* Asegúrate de que el color sea consistente */
}

.custom-accordion-button:not(.collapsed)::after {
  transform: rotate(45deg);
  border-right-color: white; /* Asegúrate de que el color sea consistente */
  border-bottom-color: white; /* Asegúrate de que el color sea consistente */
}

//cuando aria-expanded es false (cuando el acordeón está cerrado), la flecha se rota 90 grados
.custom-accordion-button[aria-expanded='false']::after {
  transform: rotate(-135deg);
  border-right-color: white; /* Asegúrate de que el color sea consistente */
  border-bottom-color: white; /* Asegúrate de que el color sea consistente */
}

.accordion-collapse{
    background-color: #eff3ec;
}

.file-upload-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .file-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .upload-icon {
    font-size: 24px;
    color: #21409a;
    background-color: none;
    cursor: pointer;
  }

  .btnOtrasAcciones{
    background-color: none;
    font-size: 20px;
    color: #21409a;
    cursor: pointer;
  }

  .imagen{
    max-width: 100px;
    max-height: 100px;
  }

  .listado{
    height: 150px;
    width: 50%;
    margin-left: 10px;
    overflow: auto;
  }

  .titulos-tabla{
    background-color: #3968C6;
    color: white;
  } 
  .subtitulos-tabla{
    background-color: #BEDBFE;
    color: white;
  }

  .caption-original {
    caption-side: top; /* Esto es el valor por defecto, pero se puede especificar explícitamente */
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; /* Espacio debajo del caption */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
  }
 

  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .vertical-text {
    writing-mode: vertical-rl; /* Rota el texto 90 grados en el sentido contrario a las agujas del reloj */
    transform: rotate(180deg); /* Ajusta la dirección del texto */
    text-align: center;
    margin-right: 1rem; /* Espacio entre el texto y la tabla */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-weight: bold; /* Opcional: Hace que el texto sea negrita */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
  }

  .table-responsive{
    height: 40vh;
    overflow: scroll;
  }

  /* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .listado {
    width: 100%;
    margin-left: 0; /* Opcional: Ajusta el margen para móviles si es necesario */
  }
}
.table{
  font-family: Arial, Helvetica, sans-serif;
}

.tituloModal{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color:#ffffff;
}

label{
  font-family: Arial, Helvetica, sans-serif;
  color:#000000;
}

.btn-agregar{
  background: #21409a !important;
  color:#ffffff !important;
  font-size: 11px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  --bs-btn-active-bg: #21409a !important;
  --bs-btn-active-color: white !important;
}

.btn-agregar:hover{
  background: #21409a !important;
  color:#ffffff !important;
  font-size: 11px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  --bs-btn-active-bg: #21409a !important;
  --bs-btn-active-color: white !important;
}



/* Estilo para el texto del mensaje en el modal */
.swal2-html-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Estilo para el botón */
.swal2-confirm {
  background-color: #21409a; /* Color de fondo azul */
  color: white;             /* Texto en blanco */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.custom-swal-popup {
  background-color: #21409a !important;
  color: #ffffff !important; /* Asegurar que el texto sea legible */
}

/* Estilos personalizados para el botón de confirmación */
div.swal2-container button.swal2-styled.swal2-confirm.custom-swal-confirm-button {
  background-color: #21409a !important;
  color: #ffffff !important; /* Asegurar que el texto del botón sea legible */
  border: none !important; /* Eliminar cualquier borde */
  box-shadow: none !important; /* Eliminar cualquier sombra */
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 11px !important;
}

@media (max-width: 576px) {
  .btnOtrasAcciones {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 576px) {
  .modal-body .row {
    align-items: center;
  }

  .modal-body label.col-form-label {
    text-align: left;
  }
}

.agregar-btn{
  background-color: #21409a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

#celdaVacia{
  background: #eff3ec;
}

th,tr{
  font-size: 13px;
}