
.toast-header{
    background-color: #2E3E97  !important;
    color: white !important;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }

.toast-body{
    color: black !important;
    z-index: 1000 !important;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-notificacion{
  display: -webkit-box;
  -webkit-line-clamp: 1;   /* Número máximo de líneas a mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-close{
  background-color: transparent;
  border: none;
  opacity: 1; /* Asegura que sea completamente visible */
}

.toast-body span {
  word-wrap: break-word;
  white-space: normal;
}

@media (max-width: 650px) {
  .toast-container {
    max-height: calc(100vh - 50px);
  }

  .toast-body {
    max-height: 40px; 
    overflow-y: auto;
  }
}

