<div class="toast-container position-fixed top-0 end-0 p-3" 
    [ngStyle]="{
        'margin-top': (i * (this.esMenor === false ? 150 : 140)) + 'px', 
    }"
    *ngFor="let alerta of cincoPrimerasNotificaciones; let i = index">
    <div id="liveToast" class="toast show medidas" role="alert" aria-live="assertive" aria-atomic="true">
       <div class="toast-header">
          <i class="bi bi-exclamation-triangle mx-2"></i>
          <strong class="me-auto ">¡Aviso!</strong>
          <button type="button" class="btn-close btn-close-white" (click)="clickEliminarNotificacion(i)"></button>
       </div>
       <div class="toast-body">
          <div style="height: 60px; overflow: auto; resize: none;">
             <span class="w-100" readonly>{{alerta.notificacion}}</span>
          </div>
       </div>
    </div>
</div>
