th{

    background-color: #2e3e97 !important;
    color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif;
   }
 
 
 th{
 
     background-color: #2e3e97 !important;
     color: #ffffff !important;
     font-family: Arial, Helvetica, sans-serif;
    }

.texto{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-regresar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: white;
    background-color: #21409a !important;
}

.btn-regresar:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: white;
    background-color: #21409a !important;
}

.regresar{
    background-color: #21409A !important;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    margin-left: 10px!important;
  }