<div class="container mt-4">
  <form [formGroup]="generales">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input [ngbTooltip]="this.mostrarNombre" type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="mb-3">
          <label for="objetivos" class="form-label">Objetivos:</label>
          <input [ngbTooltip]="this.mostrarObjetivos" type="text" class="form-control" id="objetivos" formControlName="objetivos">
        </div>
        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen:</label>
          <div class="p-2 bd-highlight">
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen MBE" class="img-thumbnail imagen">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="resumen" class="form-label">Resumen con principales hallazgos:</label>
          <textarea class="form-control" id="resumen" formControlName="resumen" rows="3"></textarea>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center titulosTabla mt-4 negro">
    Variable de resultados
  </div>

  <div class="d-flex align-items-center ">
    <div class="vertical-text-container">
      <div class="vertical-text titulosTabla negro">
        Intervenciones
      </div>
    </div>
    <div class="table-responsive tabladatos">
      <table class="table table-bordered"
        *ngIf="estructuraFinalColumnasTitulos.length > 0 || estructuraFinalFilasTitulos.length > 0">
        <caption class="text-center caption-original"></caption>
        <thead class="sticky-header">
          <tr class="text-center ">
            <th id="tituloTablaColumna" colspan="2" rowspan="2" class="titulos-tabla align-middle" *ngIf="estructuraFinalColumnasTitulos.length > 0"></th>
            <th id="subtituloTablaColumna" scope="col" class="titulos-tabla align-middle" [ngStyle]="{'width': (columna.countSubCats === 0 ? 200 : columna.countSubCats * 150) + 'px'}"
              *ngFor="let columna of estructuraFinalColumnasTitulos" [attr.colspan]="columna.countSubCats > 0 ? columna.countSubCats : 1" [attr.rowspan]=" columna?.hijos[0].auxiliar  ? 2 : 1">
              {{ columna?.catalogo }}
            </th>
          </tr>
          <tr>
            <ng-container *ngFor="let subcolumna of estructuraFinalColumnasTitulos">
              <ng-container *ngFor="let hijo of subcolumna.hijos">
                  <th id="subtituloTablaFila" class="subtitulos-tabla align-middle" *ngIf="!hijo?.auxiliar">
                    {{ hijo?.idSubCategoria?.catalogo }}
                  </th>
              </ng-container>
            </ng-container>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subFilas of estructuraFinalFilasSubitulos; let i = index">
            <th class="align-middle text-center titulos-tabla" id="padre" 
              [attr.rowspan]="subFilas?.countSubCats" [attr.colspan]="subFilas?.countSubCats == 1 && subFilas?.idCategoria?.hijos?.length<1 ? 2 : 1"
              *ngIf="estructuraFinalFilasSubitulos[i - 1]?.idCategoria?.idCatalogo !== subFilas?.idCategoria?.idCatalogo">
              {{ subFilas?.idCategoria?.catalogo }}
            </th>
            
            <th class="subtitulos-tabla align-middle" scope="row" *ngIf="!subFilas?.auxiliar"> {{ subFilas?.idSubCategoria?.catalogo }} </th>
    
            <ng-container *ngFor="let subcolumna of estructuraFinalColumnasTitulos; let i = index;">
              <th id="contenidoFila" class="contenido-tabla" *ngFor="let hijo of subcolumna.hijos; let j = index">
                <app-burbujas [chartId]="'chart-' + i + j" [bubbleData]="datosInterseccion(subFilas?.idEstructura,regresaValorSinSubcategoria(subcolumna,hijo?.idEstructura))" *ngIf="datosInterseccion(subFilas?.idEstructura,regresaValorSinSubcategoria(subcolumna,hijo?.idEstructura))"></app-burbujas>
              </th>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5 mb-2">
    <button class="btn btn-primary mx-2 border-0 regresar" [routerLink]="['/gmbe']">
      <fa-icon [icon]="faRotaLeft" class="btnOtrasAcciones"></fa-icon>
      Regresar
    </button>
    <button class="btn btn-primary mx-2 border-0 descargar" (click)="descargar()">
      <fa-icon [icon]="faDownload" class="btnOtrasAcciones"></fa-icon>
      Descargar datos
    </button>
    <button class="btn btn-primary mx-2 border-0 rechazar">
      <fa-icon [icon]="faX" class="btnOtrasAcciones"></fa-icon>
      Rechazar
    </button>
    <button class="btn btn-primary mx-2 border-0 aprobar">
      <fa-icon [icon]="faCheck" class="btnOtrasAcciones"></fa-icon>
      Aprobar
    </button>
  </div>
</div>